/* ===== main selector ===== */

:root {
  /* font setup */
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* color setup */
  --main-title-color: #303030;
  --main-text-color: #555555;
  --second-text-color: #9ea5bd;
  --price-text-color:  rgba(157, 164, 189, 1);
  --price-line-color: rgba(157, 164, 189, 0.12);
  --orange-accent-color: #ff6c00;
  --uppertitle-text-color: rgba(157, 164, 189, 0.6);
  --team-bg-color: #f7f7f7;
  --form-color: rgba(157, 164, 189, 0.4);
  --first-price-gradient: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
  --dark-bg-cl: #191c26;
  --second-price-gradient: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
  --bg-price-gradient: linear-gradient(
    to top rgba(17, 19, 25, 1) 0% rgba(17, 19, 25, 1) 100%
  );
  --bg-contact-gradient: rgb(17, 19, 25);
  --hero-bg-gradient: #rgba(25, 28, 38, 0.2);
  --link-color: #ffffff;
}

/* === list and link style reset === */

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*      reset      */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* main selector */
body {
  font-family: var(--main-font);
  color: var(--main-title-color);
  font-size: 18px;
  line-height: calc(30 / 18);
  letter-spacing: 0.02em;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-family: inherit;
}
/* ====== header style ====== */

.header {
  background-color: var(--bg-contact-gradient);
}

.header .container {
  display: flex;
  align-items: center;
}

.link-logo {
  display: inline-flex;
}

.nav {
  display: flex;
  gap: 71px;
  align-items: center;
}

.list-header {
  display: flex;
  gap: 30px;
}

.header-group {
  margin-left: auto;
}

.link-nav {
  display: inline-flex;
  padding-top: 52px;
  padding-bottom: 52px;

  color: var(--link-color);
  font-weight: 600;
  font-size: 12px;
}

.link:hover,
.link:focus {
  color: var(--orange-accent-color);
}

.header-button {
  margin-left: 45px;
  padding: 12px 20px;

  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--link-color);
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

.header-button:hover,
.header-button:focus {
  background-color: var(--orange-accent-color);
  cursor: pointer;
}

/* ======== hero section style ======= */

.section-hero {
  background-color: var(--bg-contact-gradient);
  padding: 0;
}

.social-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.social-link {
  display: inline-flex;

  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
}

.social-list::before {
  display: inline-block;
  content: "";
  background-color: var(--main-title-color);
  width: 60px;
  height: 1px;
}

.first-hero-text {
  display: flex;
  gap: 20px;
  color: var(--uppertitle-text-color);
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.first-hero-text::before {
  display: inline-flex;
  content: "";
  background-color: var(--uppertitle-text-color);
  width: 60px;
  height: 1px;
}

.main-title {
  margin-bottom: 20px;

  font-family: "Raleway";
  font-size: 72px;
  line-height: calc(85 / 72);
  letter-spacing: 0.05em;
  color: var(--link-color);
}

.second-hero-text {
  width: 360px;
  color: var(--second-text-color);
}

.btn-slider {
  background-color: transparent;
  color: var(--uppertitle-text-color);
  border: none;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

/* ======== about section style ========== */
.section-about .container {
  display: flex;
  gap: 64px;
}

.about-image .list {
  display: flex;
  gap: 30px;
}

.first-text {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.first-text::before {
  display: inline-flex;
  margin-right: 20px;

  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--main-title-color);
}

.about-title {
  margin-bottom: 20px;
  width: 500px;

  font-family: "Raleway";
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
}

.second-text {
  margin-bottom: 20px;

  color: var(--main-text-color);
}

.third-text {
  margin-bottom: 40px;

  font-size: 14px;
  line-height: calc(26 / 14);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.btn-about {
  padding: 12px 20px;

  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(16 / 12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-title-color);
  border: 1px solid #ff6c00;
  border-radius: 25px;
}

.btn-about:hover,
.btn-about:focus {
  background-color: var(--orange-accent-color);
  cursor: pointer;
}

/* =========== prices section ======== */

.section-prices {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--dark-bg-cl);
  background-image: url(../images/price-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.price-text {
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--uppertitle-text-color);
}

.price-text::before {
  display: inline-flex;
  margin-right: 20px;

  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--uppertitle-text-color);
}

.price-title {
  margin-bottom: 44px;

  font-family: "Raleway";
  font-size: 42px;
  line-height: calc(49 / 42);
  letter-spacing: 0.05em;
  color: var(--link-color);
}

.price-block{
  display: flex;
}

.price-list {
  flex-basis: 570px;
  padding: 30px 20px;

  color: var(--price-text-color);
}

.price-list .item {
  display: flex;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 20px;
  color: var(--grey-cl);
}

.price-list .item::before {
  content: '';
  display: block;
  height: 1px;

  flex-grow: 1;

  background-color: rgba(157, 164, 189, 0.12);
}

.price-list .item:last-child {
  margin-bottom: 0;
}

.title-price {
  order: -1;
}